<!--        {% for item in data %}
           <li>{{ item.account_number }}</li>  <!-- Replace field_name with actual field names -->
       <!--{% endfor %} -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Customer List</title>
</head>
<body>
    <h1>Master Customer List</h1>
    
    <table>
        <tr>
            <th>msql_id</th>
            <th>Account Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Current Farm ID</th>
        </tr>
        {% for customer in data %}
        <tr>
            <td>{{ customer.msql_id }}</td>
            <td>{{ customer.account_number }}</td>
            <td>{{ customer.fname }}</td>
            <td>{{ customer.lname }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.current_farm_id}}</td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No customers found.</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>
